.card {
	width: 75px;
	height: 115px;
	border: 1px solid #c3e2f2;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 2px;
	font-family: courier;
	cursor: pointer;
    color: white;
    background-color: rgb(7, 70, 164);
}

h1 {
	text-align: center;
	font-size: 35px;
	font-family: 'Crimson Text', serif;
	color: white;
}

#collection {
	text-align: center;
	padding: 25px;
}

body {
	background: url('public/dealer.jpg')
}
#background {
    border-radius: 10px;
    background-color: rgba(193, 10, 10, 0.577);
}
.text {
	font-family: 'Crimson Text', serif;
	color: white;
	font-size: 25px;
}

#topic {
    border-radius: 10px;
    background-color: rgba(6, 104, 42, 0.577);
    text-align: center;
}
