.card {
    
    
        width:75px;
        height:115px;
        border:1px solid #c3e2f2;
        float:left;
        margin-right:5px;
        margin-bottom:5px;
        border-radius:2px;
        font-family:courier;
        cursor:pointer;
        color: white;

    
      
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Crimson Text', serif;
    color: white;
}

#collection {
    text-align: center;
    padding: 25px;
}

body {
    background-color: rgb(75, 103, 70);
    padding: 20px;
}

.text {
    font-family: 'Crimson Text', serif;
    color: #c3e2f2;
    font-size: 25px;

}

#topic {
    display: flex;
    justify-content: space-evenly ;
}